<fieldset action="/signup" method="post" class="form3>

    <div class=" share-section1">


    <button class="create-bottom">
        <i class="fa-regular fa-address-card"></i>
        <p class="button-create">CREAR TARJETA</p>
    </button>

    </div>

    <div class="share-section2">
        <h1 class="text-share">La tarjeta ha sido creada</h1>
        <span class="url-share">
            https://awesome-profile-card.com?id=A456DF0001
        </span>

        <button class="share-botton">

            <i class="fa-brands fa-twitter"></i>
            <p class="text-twitter">Compartir en Twitter</p>

        </button>



    </div>
    </div>



</fieldset>