<section class="main1">
  <div class="main1__container">
    <button class="main1__container__reset">
      <i class="fa-solid fa-trash-can"></i>reset
    </button>
    <div class="main1__container__text">
      <p class="main1__container__text--name">Nombre Apellido</p>
      <p class="main1__container__text--profession">Front-end developer</p>
    </div>

    <img
      class="main1__container__cat"
      src="./assets/images/gatito.jpg"
      alt=""
    />

    <nav class="main1__container__rrss">
      <i
        class="main1__container__rrss__link fa-solid fa-mobile-screen-button"
      ></i>
      <i class="main1__container__rrss__link fa-solid fa-envelope"></i>
      <i class="main1__container__rrss__link fa-brands fa-linkedin-in"></i>
      <i class="main1__container__rrss__link fa-brands fa-github-alt"></i>
    </nav>
  </div>
</section>
