<section class="main1">
  <div class="main1__container">
    <div>
      <button class="main1__container__reset">
        <i class="fa-solid fa-trash-can"></i>reset
      </button>

      <div class="main1__container__text">
        <div class="border">
          <p class="main1__container__text--name">Nombre Apellido</p>
          <p class="main1__container__text--profession">Front-end developer</p>
        </div>
      </div>

      <div class="main1__container__cat"></div>

      <nav class="main1__container__rrss">
        <a href=""
          ><i
            class="main1__container__rrss__link fa-solid fa-mobile-screen-button"
          ></i
        ></a>
        <a href=""
          ><i class="main1__container__rrss__link fa-solid fa-envelope"></i
        ></a>
        <a href=""
          ><i class="main1__container__rrss__link fa-brands fa-linkedin-in"></i
        ></a>
        <a href=""
          ><i class="main1__container__rrss__link fa-brands fa-github-alt"></i
        ></a>
      </nav>
    </div>
  </div>
</section>
