<fieldset action="/signup" method="post" class="form2">
  <label class="label">Nombre completo</label>
  <input
    type="text"
    class="input"
    name="name"
    value="Ej: Sally Hill"
    required
  />
  <label class="label">Puesto</label>
  <input
    type="text"
    class="input"
    name="puesto"
    value="Ej: Front-end unicorn"
    required
  />
  <label class="label">Imagen de perfil</label>
  <button class="form2-button"><p class="button-text">Añadir imagen</p></button>

  <label class="label">Email</label>
  <input
    type="email"
    class="input"
    name="email"
    value="Ej: sally.hill@gmail.com"
    required
  />
  <label class="label">Linkedin</label>
  <input
    type="text"
    class="input"
    name="linkedin"
    value="Ej: linkedin.com/in/sally-hill"
    required
  />
  <label class="label">Github</label>
  <input
    type="text"
    class="input"
    name="github"
    value="Ej: @sally-hill"
    required
  />
</fieldset>
