<div class="line"></div>


<div class="filled js-desplegable">
   <i class="fa-solid fa-keyboard"></i>
   <legend class="filled__text">Rellena</legend>
   <i class="fa-solid fa-angle-up js-icon-rellena  "></i>

  </div>

<fieldset action="/signup" method="post"  class="form2 js-fieldset collapsed" >



  <label class="label1">Nombre completo</label>
  <input
    type="text"
    class="input"
    name="name"
    value="Ej: Sally Hill"
    required
  />
  <label class="label">Puesto</label>
  <input
    type="text"
    class="input"
    name="puesto"
    value="Ej: Front-end unicorn"
    required
  />

  <label class="label">Imagen de perfil</label>
  
 

  <div class="container">
  <input type="submit" class="form2-submit" value="Añadir imagen"/>
  <div class="div"></div>
   </div>

    <label class="label">Email</label>
    <input
      type="email"
      class="input"
      name="email"
      value="Ej: sally.hill@gmail.com"
      required
    />

    <label class="label">Teléfono</label>
    <input
      type="tel"
      class="input"
      name="email"
      value="Ej: 555-55-55-55"
      required
    />
    <label class="label">Linkedin</label>
    <input
      type="text"
      class="input"
      name="linkedin"
      value="Ej: linkedin.com/in/sally-hill"
      required
    />
    <label class="label">Github</label>
    <input
      type="text"
      class="input"
      name="github"
      value="Ej: @sally-hill"
      required
    />
  </p>
  
</fieldset>
<div class="line"></div>


