<fieldset action="/signup" method="post" class="form2">
  <div class="filled">
   <i></i>
   <p class="filled__text">Rellena</p>
   <i class="fa-solid fa-keyboard"></i>
  </div>
  <label class="label">Nombre completo</label>
  <input
    type="text"
    class="input"
    name="name"
    value="Ej: Sally Hill"
    required
  />
  <label class="label">Puesto</label>
  <input
    type="text"
    class="input"
    name="puesto"
    value="Ej: Front-end unicorn"
    required
  />
  <label class="label">Imagen de perfil</label>

  <input type="submit" class="form2-submit" value="Añadir imagen"/>
  

    <label class="label">Email</label>
    <input
      type="email"
      class="input"
      name="email"
      value="Ej: sally.hill@gmail.com"
      required
    />

    <label class="label">Teléfono</label>
    <input
      type="tel"
      class="input"
      name="email"
      value="Ej: 555-55-55-55"
      required
    />
    <label class="label">Linkedin</label>
    <input
      type="text"
      class="input"
      name="linkedin"
      value="Ej: linkedin.com/in/sally-hill"
      required
    />
    <label class="label">Github</label>
    <input
      type="text"
      class="input"
      name="github"
      value="Ej: @sally-hill"
      required
    />
  </p>
</fieldset>
