<fieldset action="/signup" method="post" class="share-container">
  <label class="form--heading js-title_share">
    <div class="form--heading__left">
      <i class="fa-solid fa-share-nodes"></i>
      <h2 class="share--text">COMPARTE</h2>
    </div>
    <i class="fa-solid fa-angle-up js-shareArrow"></i>
  </label>
  <div class="form3 js-share">
    <div class="form3--section-1">
      <button class="form3--section-1__button">
        <i class="fa-regular fa-address-card"></i>
        <p class="button-create  js_bntCreate">CREAR TARJETA</p>
      </button>
    </div>

    <div class="form3--section-2">
      <div class="form3--section-2__text">
        <h1 class="text-share">La tarjeta ha sido creada</h1>
        <span class="url-share">
          https://awesome-profile-card.com?id=A456DF0001
        </span>
      </div>

      <button class="form3--section-2__button">
        <i class="fa-brands fa-twitter"></i>
        <p class="text-twitter">Compartir en Twitter</p>
      </button>
    </div>
  </div>
</fieldset>