// fonts
$merri: "Merriweather", serif;
$montse: "Montserrat", sans-serif;
$open: "Open Sans", sans-serif;

// colors
$orange: #e17334;
$white: #ffffff;
$light-khaki: #f9f4dc;
$hospital-green: #a2deaf;
$blue: #438792;
$dark-blue: #438792;
$black: #000000;
$white-two: #d8d8d8;
