.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $white-four;
  &__content {
    padding-left: 35px;
    padding-right: 35px;
  }
  &__title {
    font-family: $merri;
    color: $orange;
    padding-top: 35.4px;
    font-size: 20px;
  }
  &__text {
    font-family: $open;
    color: #114e4e;
    font-weight: 600;
    font-size: 15px;
  }
  &__rectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid $orange 1px;
    border-radius: 4px;
    width: 268px;
    height: 74px;
    margin-top: 17.8px;
    margin-left: 25px;
  }
  &__rectangle li {
    display: flex;
    flex-direction: column;
    font-family: $open;
    font-size: 12.8px;
    color: $gunmetal;
  }
  &__rectangle li i {
    font-size: 22.4px;
    font-style: normal;
    color: $orange;
  }
}

.button {
  margin-top: 100px;
  width: 129px;
  height: 42px;
  border-radius: 21px;
  border: none;
  background-color: $blue;
  font-family: $open;
  font-weight: 600;
  text-transform: uppercase;
}
.button a {
  color: $white-two;
  text-decoration: none;
}
.landing img {
  width: 250px;
  height: 63px;
}
@media (min-width: 768px) {
  .rectangle {
    width: 325px;
    height: 86px;
  }
  .landing img {
    width: 417px;
    height: 105px;
  }
  .landing {
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
      width: 331px;
      height: 48px;
      margin-left: 40px;
      margin-bottom: 27px;
    }

    &__rectangle {
      width: 325px;
      height: 86px;
      margin-left: 45px;
      font-size: 50px;
    }
  }
}
