.form3 {
  width: 100vw;
  height: 500px;
}
.share-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.create-botton {
  width: 210px;
  height: 50px;
  background-color: $orange;
  font-size: 17px;
  text-align: center;
  border-style: none;
  border-radius: 12px;
  font-family: $open;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-create {
  padding-left: 8px;
}

.text-share {
  font-size: 18px;
  color: $gunmetal;
  font-family: $open;
}
.url-share {
  font-family: $open;
  font-size: 12px;
  font-weight: 600;
  color: $orange;
}
.share-section {
  text-align: center;
  width: 329px;
  border-top: $white-two solid 1px;
  border-bottom: $white-two solid 1px;
}
.share-botton {
  display: flex;
  width: 181px;
  height: 31px;
  background: $light-blue;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-style: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}
.fa-brand {
  color: $white;
}
.text-twitter {
  font-size: 14px;
  color: $white;
  padding-left: 5px;
}
