$input-color: #a2deaf;
$primary-color: #114e4e;
$placeholder-color: #c5c5c5;
$font-14: 14px;
$font-family: "Open Sans", sans-serif;
$color-button: #e17334;

/* 
-variables en cada sección o en el main - y qué nombre-
-bordes formulario
-padding interno placeholder
-outline :focus en algún color al seleccionar
*/

.div2 {
  padding: 5% 5%;
  font-family: $font-family;
}

.form2 {
  display: flex;
  flex-direction: column;
}

.input {
  border-color: $input-color;
  height: 30px;
  font-family: $font-family;
  margin-top: 7px;
  color: $placeholder-color;
  border-style: double;
  outline: none;
}

.label {
  font-size: $font-14;
  color: $primary-color;
  margin-top: 20px;
}

.form2-button {
  width: 140px;
  height: 30px;
  margin-top: 10px;
  background-color: $color-button;
  border-style: none;
}
.button-text {
  color: white;
  font-size: $font-14;
}
