$font-14: 14px;
$gunmetal: #54585a;

.filled {
  display: flex;
  font-family: $open;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: $gunmetal;

  &__text {
    width: 98%;
  }
}

.fa-keyboard {
  color: $orange;
  padding-right: 10px;
  width: 24px;
  height: 24px;
}

.form2 {
  font-family: $open;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
}

.input {
  height: 30px;
  font-family: $open;
  margin-top: 7px;
  color: #c5c5c5;
  border: solid 1px $hospital-green;
  outline-color: $orange;
  padding-left: 9px;
}

.label {
  font-size: $font-14;
  color: $dark-blue;
  margin-top: 20px;
}

.form2-submit {
  width: 140px;
  height: 30px;
  margin-top: 10px;
  background-color: $orange;
  color: white;
  font-size: 14px;
  border-style: none;
}

.container {
  display: flex;
  align-items: baseline;
}

.div {
  width: 30px;
  height: 30px;
  border: $hospital-green 1px solid;
  margin-left: 20px;
}
